<table class="table table-bordered" style="color: #FFF;">
    <thead>
        <tr>
            <th colspan="3" class="text-align: center">
                Carro de compras
            </th>
        </tr>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.Carrito.items %}
            {% for key, value in request.session.Carrito.items %}
            <tr>
                <td>{{ value.Nombre }}</td>
                <td>{{ value.Cantidad }}</td>
                <td>
                    <a href="{% url 'Carrito:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                    <a href="{% url 'Carrito:restar' value.producto_id %}" class="btn btn-sm btn-secondary">-</a><br>
                    {{ value.Precio }}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        Sin productos
                    </div>
                </td>
            </tr>
        {% endif %}
        
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                Total: {{importe_total_carro}}
            </td>
        </tr>
    </tfoot>
</table>