{% extends 'TecnoClickApp/base.html' %}

{% load static %}

{% block content %}

<div class="form-container">

    {% if "valido" in request.GET %}
        <p style="color: #48E;">Gracias. La informacion se envio correctamente</p>

    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table class="form-table">
            {{ miFormulario.as_table }}
        </table>
        <input type="submit" value="Enviar" class="submit-button">
    </form>
</div>
{% endblock %}