{% extends 'TecnoClickApp/base.html' %}

{% load static %}

{% block content %}

<div class="container page-section">
    <div class="row">
        {% for servicio in servicios %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 bg-dark text-white border-light">
                    <img src="{{ servicio.Imagen.url }}" class="card-img-top" alt="{{ servicio.Titulo }}">
                    <div class="card-body">
                        <h5 class="card-title text-info">{{ servicio.Titulo }}</h5>
                        <p class="card-text">{{ servicio.Contenido }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}